.chess {
    width: 65vmax;
}

.chat {
    height: 90%;
    width: 35vmax;
    margin: auto 0;
}

.card {
    height: 100%;
    border-radius: 15px !important;
    background: rgba(98, 30, 66, 0.63) !important;
    box-shadow: 0 15px 25px #eedef9e1;
}

#game{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    max-width: 504px;
    max-height: 504px;
    width: 100%;
    height: 100%;
}

.gamecell {
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin: 3px;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    font-size: 27pt;
    padding: 0 0 0 6px;
    cursor: pointer;
    z-index: 1;
}

.grey {
    background: #FCBE89;
}

.purple {
    background: #ad9fda;
}

#turn {
    width: 200px;
    margin-left: 43%;
    text-align: center;
    background: rgba(98, 30, 66, 0.63) !important;
    transition: .85s linear;
    border-radius: 3px;
    color: white;
}

.turnhighlight {
    background: #eedef9e1 !important;
    color: white;
}

.msg_card_body {
    overflow-y: auto;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 20px;
    color: white;
}

.user_info p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

.video_cam span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #ad9fda;
    padding: 10px;
    position: relative;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #FCBE89;
    padding: 10px;
    position: relative;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu ul li i {
    padding-right: 10px;
}

.action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}


.neon {
    background: rgb(168, 236, 174) !important;
}

.neonblue_txt {
    animation: neonBlueText 1.5s ease-in-out infinite alternate;
}

.neonorange_txt {
    animation: neonOrangeText 1.5s ease-in-out infinite alternate;
}

.neongreen_txt {
    animation: neonGreenText 1.5s ease-in-out infinite alternate;
}

/* --- N E O N    T E X T --- */
@keyframes neonBlueText {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
        0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
        0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
    }
}

@keyframes neonOrangeText {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
        0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
        0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
    }
}

@keyframes neonGreenText {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #b6ff00,
        0 0 70px #b6ff00, 0 0 80px #b6ff00, 0 0 100px #b6ff00, 0 0 150px #b6ff00;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00,
        0 0 35px #b6ff00, 0 0 40px #b6ff00, 0 0 50px #b6ff00, 0 0 75px #b6ff00;
    }
}
/* --- N E O N --- */

/* animation: neon 1.5s ease-in-out infinite alternate; */

@keyframes neonBlue {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
        0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
    }
    to {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
        0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
    }
}


.shake-little {
    display: inline-block;
    transform-origin: center center; }

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
    animation-play-state: paused; }

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake-little:hover,
.shake-trigger:hover .shake-little {
    animation-play-state: running; }

@keyframes shake-little {
    2% {
        transform: translate(1px, 0px) rotate(0.5deg); }
    4% {
        transform: translate(1px, 0px) rotate(0.5deg); }
    6% {
        transform: translate(1px, 1px) rotate(0.5deg); }
    8% {
        transform: translate(0px, 0px) rotate(0.5deg); }
    10% {
        transform: translate(1px, 0px) rotate(0.5deg); }
    12% {
        transform: translate(0px, 0px) rotate(0.5deg); }
    14% {
        transform: translate(1px, 1px) rotate(0.5deg); }
    16% {
        transform: translate(0px, 1px) rotate(0.5deg); }
    18% {
        transform: translate(1px, 0px) rotate(0.5deg); }
    20% {
        transform: translate(0px, 1px) rotate(0.5deg); }
    22% {
        transform: translate(0px, 0px) rotate(0.5deg); }
    24% {
        transform: translate(0px, 0px) rotate(0.5deg); }
    26% {
        transform: translate(1px, 1px) rotate(0.5deg); }
    28% {
        transform: translate(0px, 1px) rotate(0.5deg); }
    30% {
        transform: translate(0px, 0px) rotate(0.5deg); }
    32% {
        transform: translate(1px, 1px) rotate(0.5deg); }
    34% {
        transform: translate(0px, 1px) rotate(0.5deg); }
    36% {
        transform: translate(0px, 1px) rotate(0.5deg); }
    38% {
        transform: translate(0px, 0px) rotate(0.5deg); }
    40% {
        transform: translate(1px, 0px) rotate(0.5deg); }
    42% {
        transform: translate(0px, 1px) rotate(0.5deg); }
    44% {
        transform: translate(0px, 1px) rotate(0.5deg); }
    46% {
        transform: translate(0px, 0px) rotate(0.5deg); }
    48% {
        transform: translate(1px, 0px) rotate(0.5deg); }
    50% {
        transform: translate(1px, 1px) rotate(0.5deg); }
    52% {
        transform: translate(0px, 0px) rotate(0.5deg); }
    54% {
        transform: translate(1px, 1px) rotate(0.5deg); }
    56% {
        transform: translate(0px, 1px) rotate(0.5deg); }
    58% {
        transform: translate(1px, 0px) rotate(0.5deg); }
    60% {
        transform: translate(1px, 1px) rotate(0.5deg); }
    62% {
        transform: translate(0px, 1px) rotate(0.5deg); }
    64% {
        transform: translate(0px, 0px) rotate(0.5deg); }
    66% {
        transform: translate(1px, 0px) rotate(0.5deg); }
    68% {
        transform: translate(0px, 0px) rotate(0.5deg); }
    70% {
        transform: translate(1px, 0px) rotate(0.5deg); }
    72% {
        transform: translate(1px, 1px) rotate(0.5deg); }
    74% {
        transform: translate(1px, 1px) rotate(0.5deg); }
    76% {
        transform: translate(0px, 0px) rotate(0.5deg); }
    78% {
        transform: translate(0px, 0px) rotate(0.5deg); }
    80% {
        transform: translate(1px, 0px) rotate(0.5deg); }
    82% {
        transform: translate(1px, 1px) rotate(0.5deg); }
    84% {
        transform: translate(0px, 1px) rotate(0.5deg); }
    86% {
        transform: translate(1px, 1px) rotate(0.5deg); }
    88% {
        transform: translate(1px, 1px) rotate(0.5deg); }
    90% {
        transform: translate(0px, 1px) rotate(0.5deg); }
    92% {
        transform: translate(1px, 0px) rotate(0.5deg); }
    94% {
        transform: translate(1px, 0px) rotate(0.5deg); }
    96% {
        transform: translate(1px, 0px) rotate(0.5deg); }
    98% {
        transform: translate(1px, 1px) rotate(0.5deg); }
    0%, 100% {
        transform: translate(0, 0) rotate(0); } }

.shake-little:hover,
.shake-trigger:hover .shake-little, .shake-little.shake-freeze, .shake-little.shake-constant {
    animation-name: shake-little;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; }